# Created by Nimby
--path:"paddy/src"
--path:"taggy/src"
--path:"silky/src"
--path:"pixie/src"
--path:"whisky/src"
--path:"windy/src"
--path:"curly/src"
--path:"webby/src"
--path:"libcurl"
--path:"chroma/src"
--path:"flatty/src"
--path:"mummy/src"
--path:"supersnappy/src"
--path:"crunchy/src"
--path:"bumpy/src"
--path:"vmath/src"
--path:"nimsimd/src"
--path:"jsony/src"
--path:"urlly/src"
--path:"ws/src"
--path:"shady/src"
--path:"opengl/src"
--path:"zippy/src"
--path:"fluffy/src"
--path:"metal4/src"
--path:"dx12/src"
--path:"vk14/src"
--path:"bitworld/src"
